@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  margin: 0;
  background-color: #dbdee7;
}
* {
  font-family: "Inria sans";
  box-sizing: border-box;
}

.logo-icon {
  transform: rotate(0deg);
  &.rotate {
    transform: rotate(180deg);
  }
}

.MuiChartsLegend-mark{
  border-radius: 10px;

  /* width: 200px; */
}